@tailwind base;
@tailwind components;
@tailwind utilities;

.errormsg {
  @apply hidden;
}

input:invalid[focused="true"] {
  @apply bg-red-50 border border-red-400  focus:ring-red-500 focus:border-red-500 text-gray-700;
}

input:invalid[focused="true"] + div.errormsg {
  @apply flex;
}

.myclass {
  @apply block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.myButton {
  @apply disabled:opacity-25
        disabled:cursor-wait
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out;
}
